<div class="p-2 mx-auto font detailsContainer shadow">
    <div class="d-flex justify-content-center">
        INFO
    </div>
  <div class="m-2 d-flex justify-content-between flex-row">
    <div >
    Street Name:
    </div>
    <div >
      {{form.streetName}}
      </div>
  </div>
  <div class="m-2 d-flex justify-content-between flex-row">
      <div >
      Street Number:
      </div>
      <div  >
        {{form.streetNumber}}
        </div>
    </div>
    <div class="m-2 d-flex justify-content-between flex-row">
        <div >
       City:
        </div>
        <div >
          {{form.city}}
          </div>
      </div>
      <div class="m-2 d-flex justify-content-between flex-row">
          <div >
          Country:
          </div>
          <div >
            {{form.country}}
            </div>
        </div>
        <div class="m-2 d-flex justify-content-between flex-row">
            <div >
            Zip Code:
            </div>
            <div >
              {{form.zip}}
              </div>
          </div>
          <div class="m-2 d-flex justify-content-between flex-row">
              <div >
              Phone Numbers:
              </div>
              <div *ngFor="let number of form.phoneNumbers" >
                {{number}}
                </div>
            </div>

</div>