.headerContainer{
    border:1px solid #ddd
}

.cartIconContainer{
    margin-right: 1%

}

.cartIcon{
    font-size: 35px
}

.numberOfItems{
    position: absolute;
    z-index:1;
    color: red;
    font-size: 15px
   
}

.numberOfItemsString{
    color: white;
    z-index:2;
    position: absolute;
    font-family:  Arial, sans-serif
    
}

.userIcon{
    font-size: 35px;
    margin-right: 1%;
    cursor: pointer;

}