.cartItemContainer{
    box-shadow:0 0px 0px 0px;
    border-radius: 2%;
    border:1px solid #ddd;
}

.cartItemContainer:hover{
    
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24;
    font-weight: 600

    
}

.img{
    border-radius: 2%
}

.detailsContainer{
   margin-left: 2%;
   margin-right: 2%;
}
.addButton{
     height: 30px;
    outline: none;
    background-color:#4286f4;
    border: none;
     padding: 0%;  
   /*  font-size: 24px; */
   font-weight: 600;
   width:10%;
   
    
    
}

.addButtonContainer{
    text-align: center; 
    
}

.addButton:hover{
    background-color: red;
}

.addButton:focus:active{
    background-color: #0b51c1 !important;
}