.cartItemContainer{
    box-shadow:0 0px 0px 0px;
    border-radius: 2%;
    border:1px solid #ddd;
    transition: box-shadow 500ms ease-in-out;
    display: table-row;
    border-spacing: 5px;
}

.cartItemContainer:hover{
    
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.font{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24;
    font-weight: 600

    
}

.img{
    border-radius: 2%
}

.addButton{
     /* height: 30px; */
    outline: none;
    background-color:#4286f4;
    border: none;
   /*   padding: 0%;   */
   /*  font-size: 24px; */
   font-weight: 600;
  overflow: hidden;
  transition: width 500ms ease-out;
   
    
}

.addButtonContainer{
    text-align: center; 
    
}

.addButton:hover{
    width:100%;
    content: 'Add To Cart';
    background-color: red;
}

.addButton:focus:active{
   
    background-color: #0b51c1 !important;
}