<div class="m-2 p-2 cartItemContainer row align-items-center d-flex flex-row">
   
    <div class="col">
      <img class="img" width=100px height=100px src=  {{item.img}} /> 
    </div>

    <span class="col font">
        {{item.name}}
      </span>

      <span class="col font">
          {{item.price}}$
          </span>
          <span class="col font">
              {{item.Qty}}
              </span>
    <div class=" d-flex flex-row  ">
      <div class="addButtonContainer d-flex flex-row">
      <button (mouseover)="onHoverAddButton($event)" (click)="addNewItem()" class="m-1 addButton btn-lg btn-primary"> + </button>
      </div> 
  </div>
  </div>
