.cartItemContainer{
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2%;
}

.cartItemContainer:hover{
    box-shadow:0 0px 0px 0px
}

.name{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24;
    font-weight: 600

    
}

.img{
    border-radius: 2%
}

.detailsContainer{
   margin-left: 2%;
   margin-right: 2%;
}