<div (click)="closeForm($event)" class="shadow-sm formContainer ">
  <form class='w-25 container formStyle bg-white' (ngSubmit)="submit($event)" #heroForm="ngForm">
<div class="d-flex justify-content-center align-items-center">please fill your information to procced with your cart</div>

    <div class=" m-3 form-group">
      <label for="streetName">Street Name *</label>
      <input [(ngModel)]="form.streetName" class="form-control" type="text" id="streetName" name="streetName" #streetName="ngModel" required>
      <div [hidden]="streetName.valid || streetName.pristine" class="m-1 alert alert-danger">street name is required</div>
      <div>{{streetName.valid}} {{streetName.pristine}} </div>
    </div>
    <div class="m-3 form-group">
        <label for="streetNumber">Street Number *</label>
        <input [(ngModel)]="form.streetNumber" class="form-control" type="text" id="streetNumber" name="streetNumber" #streetNumber="ngModel" required>
        <div [hidden]="streetNumber.valid || streetNumber.pristine" class="m-1 alert alert-danger">street number is required</div>
        <div>{{streetNumber.valid}}</div>
      </div>


        <div class="m-3 form-group">
            <label for="country">Country *</label>
            <input [(ngModel)]="form.country" class="form-control" type="text" id="country" name="country" #country="ngModel" required>
            <div [hidden]="country.valid || country.pristine" class="m-1 alert alert-danger">country is required</div>
          </div>
          <div class="m-3 form-group">
              <label for="city">City *</label>
              <input [(ngModel)]="form.city" class="form-control" type="text" id="city" name="city" #city="ngModel" required>
              <div [hidden]="city.valid || city.pristine" class="m-1 alert alert-danger">city is required</div>
            </div>

          <div class="m-3 form-group">
              <label for="zip">Zip Code</label>
              <input [(ngModel)]="form.zip" class="form-control" type="text" id="zip" name="zip" #streetName="ngModel" >
            </div>

            <div *ngFor="let n of numbs">
                <div> {{numbs}}</div>
              </div>
        <button (click)="add()"> add </button>
       
    <button [disabled]="!heroForm.form.valid" type="submit" class="m-3 btn btn-success">Submit</button> 
           
  </form>
  </div>
